
<template id="book-card">
  <!-- This needs to be in every web component template in order to gain access to helpers classes
  as well as enabling global styling -->
  <link rel="stylesheet" href="index.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <article class="book-card-wrapper list-item">
    <h4 class="book-name-span fw-600"></h4>
    <div class="book-created-at-span fs-200 subtitle"></div>
    <div class="book-description-span"></div>

    <div class="card-actions">
      <button class="delete-book-button btn-icon">
        <span class="material-icons" style="color: hsl(var(--clr-danger));">delete</span>
      </button>
    </div>
  </article>

  <style>
    .book-card-wrapper {
      border: .1rem solid hsl( var(--clr-white));
      padding: 1em;
    }

    .book-name-span {
      margin-top: 0;
    }

    .book-created-at-span {
      margin-bottom: .5em;
    }

    .subtitle {
      font-style: italic;
    }

    .book-description-span {
      text-overflow: ellipis;
      overflow: hidden;
      white-space: nowrap;
    }
  </style>
</template>
