<div id="default-layout" class="layout container">
  <nav class="flex" id="main-nav">
    <ul class="primary-navigation flex underline-indicators">
      <li class="active"><a href="#" id="books-btn" class="uppercase text-white letter-spacing-2">Books</a></li>
      <li><a href="#" id="books-btn" class="uppercase text-white letter-spacing-2">Users</a></li>
      <li><a href="#" id="books-btn" class="uppercase text-white letter-spacing-2">Attachments</a></li>
      <li><a href="#" id="books-btn" class="uppercase text-white letter-spacing-2">Shelves</a></li>
      <li><a href="#" id="books-btn" class="uppercase text-white letter-spacing-2">Chapters</a></li>
    </ul>

    <input type="search" id="search-input">

    <button id="clear-credentials-btn" class="btn btn-danger" title="Clear Credentials">Log Out</button>
  </nav>

  <main id="layout-inner-slot"></main>
</div>