<div id="default-layout" class="layout container">
  <nav class="flex" id="main-nav">
    <ul class="primary-navigation flex underline-indicators">
      <li class="nav-link" id="books-page-link"><a href="/books" class="uppercase text-white letter-spacing-2">Books</a></li>
      <li class="nav-link" id="users-page-link"><a href="/users" class="uppercase text-white letter-spacing-2">Users</a></li>
      <li class="nav-link" id="attachments-page-link"><a href="/attachments" class="uppercase text-white letter-spacing-2">Attachments</a></li>
      <li class="nav-link" id="shelves-page-link"><a href="/shelves" class="uppercase text-white letter-spacing-2">Shelves</a></li>
      <li class="nav-link" id="chapters-page-link"><a href="/chapters" class="uppercase text-white letter-spacing-2">Chapters</a></li>
    </ul>

    <input type="search" id="search-input">

    <button id="clear-credentials-btn" class="btn-icon" title="Clear Credentials">
      <span class="material-icons" style="color: hsl(var(--clr-danger));">logout</span>
    </button>
  </nav>

  <main id="layout-inner-slot"></main>

  <div id="default-layout-snackbar" class="snackbar">
    <span class="material-icons">done</span>

    <span id="snackbar-text-content" class="fw-600"></span>

    <button id="snackbar-undo-btn">Undo</button>

    <button id="close-snackbar-btn" class="btn-icon">
      <span class="material-icons">close</span>
    </button>
  </div>
</div>